main{
    .container{
        .arae-de-perguntas{
            .final-page{
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                h1{
                    font-size: 3em;
                    span{
                        font-size: .9em;
                    }
                }
                button{
                    width: 80%;
                    background-color: green;
                    color: white;
                    font-size: 3em;
                    border:none;
                    font-family: 'Roboto', sans-serif;
                    border-radius: 10px;
                    padding: 10px 20px;
                    &:hover{
                        background-color: chartreuse;
                    }
                    &:active{
                        transform: translateY(4px);
                        box-shadow: 7px 6px 28px 1px rgba(255, 255, 255, 0.24);
                    }
                }
            }
        }
    }
}
@media(max-width:600px){
    main{
        .container{
            .arae-de-perguntas{
                .final-page{
                    h1{
                        span{
                            
                        }
                    }
                    button{
                        width: 80%;
                        font-size: 1.5em;
                        &:hover{
                            background-color: chartreuse;
                        }
                        &:active{
                            transform: translateY(4px);
                            box-shadow: 7px 6px 28px 1px rgba(255, 255, 255, 0.24);
                        }
                    }
                }
            }
        }
    }
}
